deckgo-highlight-code {
  --deckgo-highlight-code-scroll: hidden;
  --deckgo-highlight-code-font-family: Fira Code, Consolas, Monaco, Andale Mono, Ubuntu Mono,
    monospace;
  --deckgo-highlight-code-font-size: 14px;
  font-weight: 600;
}

.title {
  margin-bottom: 0.3rem;
}

.date {
  font-size: 0.9rem;
  margin-bottom: 0.8rem;
}
